<div class="quill-wrapper">
  <div id="full-editor-<%= @input_id %>" class="editor ql-container"><%= @value %></div>
  <input type='hidden' name='<%= @input_name %>' id='<%= @input_id %>' value=''/>

  <script type='text/javascript'>
    (function() {
      function initQuill() {
        if (typeof Quill != 'undefined'){

          function copyToInput() {
            document.getElementById('<%= @input_id %>').value = fullEditor.getHTML()
          }

          var fullEditor = new Quill('#full-editor-<%= @input_id %>', {
            modules: {
              'toolbar': <%= @toolbar %>,
            },
            theme: 'snow'
          });

          fullEditor.on('text-change', function(delta, source) {
            copyToInput()
          });
          copyToInput()
        } else {
          setTimeout(initQuill, 50);
        }
      }

      initQuill();
    })()
  </script>
</div>
